aiodns==3.1.1
aiohttp==3.9.1; python_version >= "3.8"
aiosignal==1.3.1; python_version >= "3.8" and python_full_version >= "3.8.0"
ansicon==1.89.0; os_name == "nt" and python_version >= "3.4" and platform_system == "Windows"
async-timeout==4.0.3; python_version < "3.11" and python_version >= "3.8" and python_full_version >= "3.8.0"
attrs==23.2.0; python_version >= "3.8" and python_full_version >= "3.8.0"
beautifulsoup4==4.12.2; python_full_version >= "3.6.0"
blinker==1.7.0; python_version >= "3.8"
brotli==1.1.0
bs4==0.0.1
cchardet==2.1.7
certifi==2023.11.17; python_version >= "3.7"
cffi==1.16.0; python_version >= "3.8"
charset-normalizer==3.3.2; python_full_version >= "3.7.0" and python_version >= "3.7"
click==8.1.7; python_version >= "3.7"
colorama==0.4.6; python_version >= "3.8" and python_full_version < "3.0.0" and os_name == "nt" and platform_version < "10.0.10586" and platform_system == "Windows" or os_name == "nt" and platform_version < "10.0.10586" and python_version >= "3.8" and python_full_version >= "3.7.0" and platform_system == "Windows"
console==0.9907; python_version >= "3.4"
docopt==0.6.2; python_version >= "3.7"
ezenv==0.92; python_version >= "3.4"
flask-cors==3.0.10
flask==2.3.3; python_version >= "3.8"
frozenlist==1.4.1; python_version >= "3.8" and python_full_version >= "3.8.0"
humanize==4.9.0; python_version >= "3.8"
idna==3.6; python_version >= "3.8"
importlib-metadata==7.0.1; python_version < "3.10" and python_version >= "3.8"
itsdangerous==2.1.2; python_version >= "3.8"
jinja2==3.1.3; python_version >= "3.8"
jinxed==1.2.1; os_name == "nt" and python_version >= "3.4"
lib==4.0.0
markupsafe==2.1.3; python_version >= "3.8"
multidict==6.0.4; python_version >= "3.8" and python_full_version >= "3.8.0"
nextcord==2.6.0; python_full_version >= "3.8.0"
pipreqs==0.4.13; python_version >= "3.7"
pycares==4.4.0; python_version >= "3.8"
pycparser==2.21; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
pynacl==1.5.0; python_version >= "3.6"
python-dotenv==0.21.1; python_version >= "3.7"
pyyaml==6.0.1; python_version >= "3.6"
requests==2.31.0; python_version >= "3.7"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
soupsieve==2.5; python_version >= "3.8" and python_full_version >= "3.6.0"
typing-extensions==4.9.0; python_version >= "3.8" and python_full_version >= "3.8.0"
unidecode==1.3.8; python_version >= "3.5"
urllib3==2.1.0; python_version >= "3.8"
werkzeug==3.0.1; python_version >= "3.8"
yarg==0.1.9; python_version >= "3.7"
yarl==1.9.4; python_version >= "3.8" and python_full_version >= "3.8.0"
zipp==3.17.0; python_version < "3.10" and python_version >= "3.8"
