<html>
<!DOCTYPE html>
<html>
  <head>
    <title>Barbara Backend</title>
    <meta name="description" content="">
	  <meta name="robots" content="noindex">
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, 	initial-scale=1.0">
	  <link rel="icon" href="/static/favicon.ico">
	  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
	<body>
    <script src="script.js"></script>
    <div class="center">
		  <a class="titlelink" href="./index.html">
      <img class="logo" src="/static/barbara.png" alt="Logo" width="200" height="200">
      <h1>Barbara</h1>
      </a>
	    </div> 
    <div class="center">
      <h2>You shouldn't be seeing this... But if you are, it means that Barbara is online!</h2>
      <p>Isn't that great? However, if you're seeing this <b>email <a href="mailto:bugs@jcwyt.com">bugs@jcwyt.com</a> telling us you can see the Barbara Backend </b>because you're super "cool" and we want to talk to you about how "awesome" you are.</b></p>
      </div>
	</body>
  <footer>
    <hr class="wideline">
    <div class="stupidfooter">
      <p>Made by <a href="https://jcwyt.com">jcwyt.com</a></p>
    </div>
    <br>
  </footer>
</html>